.list-item{
    background-color: rgb(85, 156, 38);
    width: 100%;
    border-radius: 1vh;
    margin-top: -2vh;
}

.text{
    padding-left: 5%;
    color: white;
    font-size: 2vh;
}

.text-special{
    padding-left: 5%;
    padding-top: 1vh;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}

.kick-button{
    width: 10%;
    height: 3vh;
    background-color: rgba(255, 0, 0, 0.599);
    color: white;
    font-size: 2vh;
    border-radius: 1vh;
}