.list-item{
    background-color: rgb(85, 156, 38);
    
    width: 100%;
    border-radius: 1vh;
}

.text{
    padding-left: 5%;
    padding-top: 0.5vh;
    /* font-weight: bold; */
    color: white;
    font-size: 2vh;
}

.text-special{
    padding-left: 5%;
    padding-top: 1vh;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}